<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
  
</head>
<body>
    <h3>Users:</h3>

    <table class="users">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Login</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.password}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/user/edit}" href="userEdit.html">Add user</a>

</body>
</html>
